<div class="show_text well">
  <h3 class="time_left"><%= show.time_left %> HOURS TO BINGE</h3>
  <p><%= show.description %></p>



  <ul class="collapsibleList list-unstyled">
    <% show.seasons.each do |season| %>
        <li>
          <label for="mylist-node <%= show.id %><%= season.number %>">
           <h4>Season <%= season.number %></h4>
          </label>
          <input type="checkbox" id="mylist-node <%= show.id %><%= season.number %>" />
          <ul class="list-unstyled">
              <% season.episodes.sort.each do |episode| %>
              <li class="episode">
               <div class='ep_column'>Episode <%= episode.number %> </div><%= render 'checkbox', :episode => episode %>
              </li>
              <% end %>
            </ul>
        </li>
    <% end %>
  </ul>

</div>
