<div class="show_text well">


  <div class="binge_time">
        <%= render 'shows/addshow', :show => show %>
    <h3 class="time_left"><%= show.runtime %> HOURS TO BINGE</h3>
  </div>
  <p><%= show.description %></p>





  <ul class="collapsibleList list-unstyled">
    <% show.seasons.each do |season| %>
        <li>
          <label for="mylist-node <%= show.id %><%= season.number %>">
             <div class='season'><h4>Season <%= season.number %></h4></div>
          </label>
          <input type="checkbox" id="mylist-node <%= show.id %><%= season.number %>" />
          <ul class="list-unstyled">
              <% season.episodes.sort.each do |episode| %>
              <li class="episode">
               <div class='ep_column'>Episode <%= episode.number %> </div>
              </li>
              <% end %>
            </ul>
        </li>
    <% end %>
  </ul>

</div>
