<!DOCTYPE html>
<html>
<head>
  <title>BingeWatchApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      <a href="/" class="navbar-brand">BINGE-Y</a>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>
         <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
          <li>
            <div class="title_bar">
            <% if List.first.shows == [] %>
                <h2>FIND A SHOW TO BINGE!</h2>
            <% else %>
              <h2>YOU HAVE <%= List.first.shows.map(&:time_left).inject(:+) %> HOURS LEFT TO BINGE!</h2>
            <% end %>
            </div>
           </li>
          <li><%= link_to "SHOWS", "/shows" %></li>
          <li><%= link_to "QUEUE", "lists/1" %></li>
          <li><%= link_to "NEW QUEUE", "lists/new" %></li>
        </ul>
    </div>
  </div>

  <div class="buffer row"></div>
  <main>

  <%= yield %>
  </main>


  </div>
</body>

</html>



