<!DOCTYPE html>
<html>
<head>
  <title>BingeWatchApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      <a href="/" class="navbar-brand">BINGE-Y</a>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>
         <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
          <li><%= link_to "SHOWS", shows_path %></li>
          <li><%= link_to "QUEUE", "lists/1" %></li>
          <li><%= link_to "NEW QUEUE", new_list_path %></li>
        </ul>
    </div>
  </div>

  <div class="buffer row"></div>
  <main>

  <%= yield %>
  </main>



  </div>
<h6><%= render 'flash' %></h6>

</body>

</html>



