<!DOCTYPE html>
<html>
<head>
  <title>BingeWatchApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">

  <div class="jumbotron">
    <img src="/assets/bb.jpg" alt="binge_time">
  </div>

    <div class="container">
      <a href="/shows" class="navbar-brand">BINGE-Y</a>
      <% if List.first.shows == [] %>
          <h2>FIND A SHOW TO BINGE!</h2>
      <% else %>
        <h2>YOU HAVE <%= List.first.shows.map(&:time_left).inject(:+) %> HOURS LEFT TO BINGE</h2>
      <% end %>
      <ul class='nav navbar-nav navbar-right'></ul>
    </div>
  </div>

  <div class="buffer row"></div>
  <main>

  <%= yield %>
  </main>

  </div>
</body>

</html>
